* {
    margin: 0px;
    padding: 0px;

}

.container ul li {
    display: inline-block;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul li {
    list-style: none;
    margin: 20px;


}

nav ul li a:hover {
    color: mediumorchid;
}

.container ul {
    display: flex;

}

.container ul li:first-child {
    font-size: x-large;
    font-family: cursive;

}

.container ul li:not(first-child) {
    position: relative;
    display: flex;
    justify-self: space-around;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;

}

nav ul li a span {
    color: darkmagenta;
    font-size: bold;
    font-family: cursive;
}

.container {
    position: fixed;
}

.sticky {
    position: absolute;
    top: 0px;
    z-index: 10;
    display: flex
}

.container li:nth-child(5),
.container li:nth-child(2),
.container li:nth-child(3),
.container li:nth-child(4) {
    margin-top: 25px;

}

span .ham {
    font-size: 40px;
}

.carousel-inner img {
    height: 753px;

}

.myimage img {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    text-align: center;
    bottom: 450px;
    position: relative;
    border-radius: 50px;
    opacity: .91;
}


.name {
    text-align: center;
    bottom: 450px;
    position: relative;
    color: whitesmoke;
  }
  
  .name .one {
      font-size: 50px;
      
      text-align: center;
  
  }
  
  .name .two {
  text-align: center;
  
  }

.icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom:350px ;
}

.icon ul li {
    margin: 20px;
    text-decoration: none;
    list-style: none;

}

.icon ul li i {
    color: whitesmoke;
}

.icon ul li i:hover {
    color: mediumvioletred;
}

.aboutme {
    margin: -250px 10px 10px 10px;
    font-size: 30px;
    font-family: sans-serif;
}

.aboutme span {
    color: mediumvioletred;
    font-size: 60px;
    font-weight: bold;
}

.carousel-inner {
    min-width: 450px;
}

.bg img {
    margin-top: 40px;
    width: 100%;
    height: 150px;
}

.certificatehead h1 {
    text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
}

.projecthead h1{
    text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
}

.certificateoneimg img {
    width: 500px;
    margin: 10px;
}

.certificateone {
    display: flex;
    align-items: center;
    justify-content: center;

}

.certificateoneinfo {
    width: 80%;
    margin:50px 20px 10px 10px;
}

.parent {
   
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.certificatetwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 60px 10px 60px;

}
.certificatetwoimg img {
    width: 350px;
    margin: 10px;
}
.certificatetwoinfo {
    width: 100%;
    margin:50px 20px 10px 100px;

    
}
.certificatethree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 60px 10px 60px;

}
.certificatethreeimg img {
    width: 350px;
    margin: 10px;
}
.certificatethreeinfo {
    width: 100%;
    margin:50px 20px 10px 100px;

    
}
.certificatefour {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 60px 10px 60px;

}
.certificatefourimg img {
    width: 350px;
    margin: 10px;
}
.certificatefourinfo {
    width: 100%;
    margin:50px 20px 10px 100px;

    
}
.child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 2rem 2rem;

    vertical-align: middle;
}

.child img {
    width: 300px;
    height: 300px;
}

.footing {
    width: 100%;
    height: 300px;
    margin-top: 80px;
}

.a {
    background-color: rgb(48, 48, 48);
    height: min-content;
    position: absolute;
    width: 100%;
    margin-top: 80px;

}

.a .a2 {
    margin-left: 1rem;
    color: whitesmoke;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 25px;
}

.a1 ul {
    display: flex;
}

.a ul li {
    list-style: none;
    padding: .1rem;
    font-size: 22px;
    margin-left: 20px;

}

.a ul li span {
    color: whitesmoke;
}

.a {
    display: flex;
    justify-content: space-around;

}

.b1 {
    margin-left: 1rem;
    color: whitesmoke;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    opacity: .6;
    padding-bottom: 10px;
}

.b ul li {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.c p {
    margin-left: 4rem;
    color: whitesmoke;
    margin-top: 3rem;
}

.c span {
    margin-left: 4rem;

    font-size: 18px;
    background: var(--bg-gradient-rainbow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
    background-clip: text;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.c i {
    color: whitesmoke;
}

@media screen and (min-width: 576px) {
    .ham i {
        display: none;
    }

    #cross {
        display: none;
    }
}


@media only screen and (max-width: 792px) {
    .name {
        text-align: center;
        bottom: 450px;
        position: relative;
        color: whitesmoke;
      }
      
      .name .one {
          font-size: 30px;
          
          text-align: center;
      
      }
      
      .name .two {
      text-align: center;
      
      }

    .certificateone {

        flex-direction: column;


    }
 
    .certificatetwo{
        flex-direction: column;
       
    }
    .certificatethree{
        flex-direction: column;
       
    }
    .certificatefour{
        flex-direction: column;
       
    }
    .certificateoneinfo{
        margin: 10px 10px 0 10px;

    }
    .certificatetwoinfo{
        margin: 20px 0px 0px 0px;
        
    }
    .certificatethreeinfo{
        margin: 20px 0px 0px 0px;
        
    }
    .certificatefourinfo{
        margin: 20px 0px 0px 0px;
        
    }
}

@media only screen and (max-width:575px) {

    nav ul li:nth-child(2),
    nav ul li:nth-child(3),
    nav ul li:nth-child(4),
    nav ul li:nth-child(5) {
        left: -150px;
        font-size: 20px;
    }

    .container ul {
        display: list-item;

    }

    .container li:nth-child(1) {
        margin-left: 100px;

    }

    .sticky {
        background-color: black;
        opacity: .9;
        width: 0px;

        left: 0;
        height: 751px;
        transition: all 0.5s ease;
        position: fixed;
    }

    #cross {
        display: none;
        position: absolute;
        left: 230px;

    }

    .one {
        white-space: nowrap;
    }

    #aboutme {
        font-size: 25px;
        width: 380px;
    }

    

    #projectss {
        width: 450px;
    }

    .a {
        min-width: 447px;

    }

    .a1 .a2 {
        font-size: 20px;
        font-weight: lighter;
    }

    .c p {
        font-size: 20px;
        font-weight: lighter;
        position: absolute;
        left: -30px;
        top: 100px;
    }

    .c i {
        font-size: 20px;
    }
    .aboutme {
        margin: -250px 10px 10px 10px;
        font-size: 20px;
        /* font-family: sans-serif; */
    }
    .child img{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .parent{
        flex-direction: column;
       
    }

}

@media screen and (min-width:538px)and (max-width:570px) {

    #myname {
        margin-left: 65px;
    }


}

@media screen and (max-width:415px) {

    #myname {
        margin-left: -60px;
        white-space: nowrap;
    }

    .myimage img {
        width: 150px;
        height: 150px;
        margin: auto;
        display: block;
        text-align: center;
        bottom: 450px;
        position: relative;
        border-radius: 50px;
        opacity: .91; 
    }

    .name {
        text-align: center;
        bottom: 450px;
        position: relative;
        color: whitesmoke;
      }
      
      .name .one {
          font-size: 30px;
          
          text-align: center;
      
      }
      
      .name .two {
      text-align: center;
      
      }

    .myself .two {

        left: -80px;
    }

    .icon ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        bottom:350px ;
    }

    #aboutme {
        font-size: 20px;
        width: 250px;
    }


    .child {
        margin-left: -130px;
    }

    .parent {
        border: 0ch;
    }


    .c p {
        font-size: 20px;
        font-weight: lighter;
        position: absolute;
        left: -30px;
        top: 100px;
    }

    .certificatehead h1 {
        text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
    }

    .projecthead h1{
        text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
    }


}

@media screen and (min-width:570px)and (max-width:950px) {

    nav ul li:nth-child(3) {

        white-space: nowrap;
    }

}

@media screen and (min-width:348px)and (max-width:600px) {


    .certificatehead h1 {
        text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
    }

    .projecthead h1{
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }



}

@media screen and (min-width:600px)and (max-width:800px) {


    .certificatehead h1 {
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }

    .projecthead h1{
        text-align: center;
    position: relative;
    bottom: 100px;
    color: whitesmoke;
    }



}

@media screen and (min-width:800px)and (max-width:1000px) {


    .certificatehead h1 {
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }

    .projecthead h1{
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }



}

@media screen and (min-width:1000px)and (max-width:1200px) {


    .certificatehead h1 {
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }

    .projecthead h1{
        text-align: center;
        position: relative;
        bottom: 100px;
        color: whitesmoke;
    }



}



.bg img {
    min-width: 450px;
}

#carouselExampleIndicators {
    overflow-x: hidden;
}

.child a h3 {
    color: black;
}

.child a h3:hover {
    color: mediumvioletred;
}

#threelines{
    display: none;
}